*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    min-width: 380px;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #0c192c;
    color: #fff;
    border: solid 1;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    border-radius: 50%;

    display: flex;
    align-items: center;
    
    padding: 0.2em;
    
  }
  
  .back-to-top-btn.show {
    display: block;
    opacity: 1;
  }

.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #111 0%, #000 100%);
    z-index: -1;
}

.space-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: radial-gradient(ellipse at center, rgba(22, 33, 133, 0.575) 0%, rgba(0, 0, 0, 1) 100%), 
                      url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    animation: animateSpace 20s linear infinite; /* Ajuste a duração (30s) conforme necessário */
}

@keyframes animateSpace {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.typing-effect {
    font-family: monospace;
    font-size: 24px;
  }
  
  .cursor {
    border-right: 3px solid #333; /* Linha vertical simulando o cursor */
    animation: blink-caret 0.5s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
  }

  .fade-in {
    opacity: 0;
  }
  
  .fade-in.appear {
    opacity: 1;
    animation: fadeInAnimation 1s ease-out;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.col{
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar-brand{
    color:  #ffffff ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;

    margin: 0 50px;
}

.navbar-brand:hover{
    color:  #ffffff;
}

.navbar .navbar-nav a{
    color: #C0C0C0;

    margin: 0 15px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.navbar .navbar-nav a:hover{
    color: #ecdb3b;
    
}

.navbar-letter{
    font-size: 2em;
}

.exibir{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    position: relative;
    width: 30rem;
    height: 30rem;
    background: rgba(04, 03, 05,.5);
    border-radius: 50%;
    overflow: hidden;
}

.caixa::before{
    content: '';
    position: absolute;
    inset: -10px 50px;
    background: linear-gradient(315deg, #f83cff, #00e1ff);
    transition: .5s;
    animation: animar 4s linear infinite;
}

@keyframes animar {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.caixa:hover::before {
    inset: -20px 0px;
}

.caixa::after{
    content:'';
    position: absolute;
    inset: 6px;
    background: #4b4b4b;
    border-radius: 50%;
    z-index: 1;
}

.conteudo{
    position: absolute;
    inset: 10px;
    border: 6px solid black;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}

.conteudo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
}

.caixa:hover .conteudo img{
    opacity: 0;

}

.conteudo h2{
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: .05em;
}

.conteudo h2 span{
    font-weight: 300;
    font-size: .75em;
}

.conteudo a{
    margin-top: 10px;
    background: white;
    padding: 10px 20px;
    border-radius: 25px;
    color: #6b6b6b;
    font-size: 1em;
    letter-spacing: .05em;
    text-decoration: none;
    transition: .05s;
    font-weight: 600;
}

.conteudo a:hover{
    letter-spacing: .2em;
}

.letter-main h3{
    font-size: 3rem;
}

.letter-main h1{
    font-size: 2rem;
    color: #ecdb3b;
}

.letter-main p{
    font-size: 1.5rem;
}

.main .custom-nav-social-midias{
    border: solid 3px white;
    border-radius: 50%;
    box-shadow: 0 0 20px #ecdb3b;

    display: flex;
    align-items: center;
    
    padding: 0.2em;
    margin: 0 1.5em;
}

.main .custom-nav-social-midias:hover{
    scale: 1.30;
}

.col-main a{
    margin-top: 10px;
    background: #ecdb3b;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #ffffff;
    color: #6b6b6b;
    font-size: 1em;
    letter-spacing: .05em;
    text-decoration: none;
    transition: .05s;
    font-weight: 600;
}

.col-main a:hover{
    letter-spacing: .2em;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
  }

  @media screen and (max-width: 992px) {

    .container{
        margin-top: 0px;

        grid-template-columns: repeat(1,1fr);
    }

    .main{
      display: flex;
      flex-direction: column;
    }

    .main-image{
      width: 20rem;
    }

    .caixa{
      width: 20rem;
      height: 20rem;
    }
  }
  

  .social-midias{
    margin-bottom: 100px;
  }

  .about{
    background: #0c192c;
    color: white;
    width: 100%;
    padding: 100px 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

    margin-bottom: 5rem;
  }

  .about h1{
    color: #ecdb3b;
  }

  .about-letter-h1{
    font-size: 2em;
    text-align: center;
  }

  .about-letter-p{
    font-size: 50em;
    text-align: center;
  }

.title-about{
    font-size: 50em;
    text-align: center;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.title-about h1{
    margin: 0 5px;
}

.title-about .first{
    color: #fff;
}

.title-about .second{
    color: #ecdb3b;
}

.typing-effect-about{
    font-family: monospace;
    font-size: 24px;
    border-right: 3px solid #333; /* Linha vertical simulando o cursor */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
  }

  .services{
    background: #0c192c;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

    margin-bottom: 5rem;
  }

  .image-container {

    padding: 10px 10px;
    text-align: center;
    background-color: #08111f;
    border-radius: 4%;
    
    transition: 0.5s;
  }

  .image-container:hover {

    border: solid 3px #ecdb3b;
    scale: 1.05;
  }

  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
  }

  @media screen and (max-width: 992px) {
    .custom-nav-social-midias {
      border-radius: 50%;
    }

    .container{
        margin-top: 0px;
    }

    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
      }
  }

  .portfolio{
    background-color: var(--second-bg-color);
  }

  .portfolio h2{
    margin-bottom: 4rem;
  }

  .img_icones{
    width: 10rem;
    height: 10rem;
    
    padding: 0.2em;
  }

  .link-custom{
    margin-top: 10px;
    background: #ecdb3b;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px #ecdb3b;
    color: #6b6b6b;
    font-size: 1em;
    letter-spacing: .05em;
    text-decoration: none;
    transition: .05s;
    font-weight: 600;
}

.link-custom:hover{
    letter-spacing: .2em;
}

  .services-letter-h1{
    font-size: 2em;
    text-align: center;
  }

  .services-letter-p{
    font-size: 50em;
    text-align: center;
  }

.title-services{
    font-size: 50em;
    text-align: center;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.title-services h1{
    margin: 0 5px;
}

.title-services .first{
    color: #fff;
}

.title-services .second{
    color: #ecdb3b;
}

.portfolio{
    background: #d4d4d4;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

    margin-bottom: 5rem;
}

.col-portfolio img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 2%;
}

.image-container-porfolio{
    position: relative;
    display: inline-block;
    overflow: hidden;

    text-align: center;
    border-radius: 4%;
    
  }
  
  .image-container-porfolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Define uma cor escura usando RGBA (RGB + canal alpha) */
    opacity: 1; /* Define a opacidade inicial para a imagem ser mais escura */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave para a mudança de opacidade */
  }
  
  .image-container-porfolio:hover::before {
    opacity: 0.8; /* Altera a opacidade quando o mouse está sobre a imagem, tornando-a mais clara */
  }
  
  .image-container-porfolio img {
    max-width: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 100%; /* Inicialmente, o overlay estará escondido abaixo do container */
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.651));
    color: #fff;
    padding: 20px;
    transition: top 0.5s ease; /* Adiciona uma transição suave para a animação */
  }
  
  .image-container-porfolio:hover .overlay {
    top: 0; /* Quando o mouse está sobre a imagem, o overlay sobe e se torna visível */
  }

  .overlay img{
    width:64px;
    height: 64px;

    border: solid 2px white;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffffff;

    display: flex;
    align-items: center;
    
    padding: 0.2em;
  }

  .portfolio-container-port{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
  }

  @media screen and (max-width: 1200px) {
    .portfolio-container-port{
        grid-template-columns: repeat(2,1fr);
      }
}

  @media screen and (max-width: 700px) {
    .portfolio-container-port{
        grid-template-columns: repeat(1,1fr);
      }
  }

  .letter-porfolio a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-portfolio{
    font-size: 50em;
    text-align: center;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.title-portfolio h1{
    margin: 0 5px;
}

.title-portfolio .first{
    color:#08111f;
}

.title-portfolio .second{
    color: #ecdb3b;
}

.contact{
  background: #0c192c;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

  margin-bottom: 5rem;
}

.letter-contact a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-contact{
  font-size: 50em;
  text-align: center;

  display: flex;
  justify-content: center;
}

.title-contact h1{
}

.title-contact .first{
  color:#ffffff;
}

.title-contact .second{
  color: #ecdb3b;
}

.contact form{
  margin: 0 auto;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 10rem;
}

.custom-nav-social-midias-contact{
  display: flex;
  align-items: center;
  
  padding: 0.2em;
  margin: 0 1.5em;

  width: 5rem;
}

.custom-nav-social-midias-contact:hover{
  scale: 1.30;
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .community{
    background: #ffffff;
    color: white;
    width: 100%;
    padding: 30px 0;
  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  
    margin-bottom: 5rem;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
  
  :root {
    --bg: #2c2e33;
    --bg-card: #232328;
    --bg-card-info: #111214;
    --text-color: #f1f1f1;
    --green: #57f287;
    --red: #ed4245;
    --blue: #5865f2;
    --pink: #eb459e;
    --yellow: #fee75c;
  }

  .divisao {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  .divisao-bar {
    border-top: 1px solid #000; /* ou use border-bottom para uma linha abaixo do conteúdo */
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .title-community{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .img-discord-represent{
    width: 28rem;
  }

  .discord-image{
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .discord{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
  }
  
  .discord .card-container {
    width: 30rem;
  }

  @media screen and (max-width: 1000px) {
    
    .discord{
      grid-template-columns: repeat(1,1fr);
    }
  
    .discord footer {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 550px) {
    .discord .card-container{
        width: 20rem;
      }

      .discord-image{
        width: 23rem;
      }

      .img-discord-represent{
        width: 20rem;
      }
  }
  
  .discord input {
    width: 100%;
    background-color: var(--bg-card);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    padding: 0.8rem;
    color: var(--text-color);
    font-size: 1rem;
  }
  
  .discord header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--blue);
    height: 5rem;
    font-size: 2.5rem;
    gap: 1rem;
  }
  
  .discord button {
    background-color: var(--blue);
    border: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .discord a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .discord .card {
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .discord .banner {
    background-image: url("https://i.gifer.com/6FcF.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
  }
  
  .discord .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 1rem;
  }
  
  .discord .profile-picture img {
    position: absolute;
    top: 100px;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 5px solid var(--bg);
  }
  
  .discord .badge {
    display: flex;
    background-color: var(--bg-card-info);
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .discord .badge-default {
    display: flex;
    gap: 1rem;
  }
  
  .discord .badge img {
    width: 2rem;
    height: 2rem;
  }
  
  .discord .info-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--bg-card-info);
    padding: 2rem;
    margin: 1rem 2rem;
    border-radius: 8px;
  }
  
  .discord .info {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .discord i {
    font-weight: 700;
  }
  
  .discord #id {
    color: var(--blue);
  }
  
  .discord #user {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--pink);
  }
  
  .discord #account {
    color: var(--green);
  }
  
  .discord .info-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
  }
  
  .discord button i {
    font-size: 1rem;
  }
  
  .discord button:hover {
    background-color: hsl(235, 86%, 65%, 0.8);
  }
  
  .discord footer {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .discord .card {
      width: 100%;
    }
  
    .discord footer {
      margin-top: 2rem;
    }
  }

  .discord .button {
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para o botão "Entrar no Servidor" */
  .discord .discord-button {
    background-color: #7289DA;
  }
  
  /* Estilo quando o cursor passa sobre o botão */
  .discord .button:hover {
    background-color: #677BC4;
  }
  
  /* Estilo quando o botão é clicado */
  .discord .button:active {
    background-color: #4E6AA7;
  }

  .discord h1{
    color: #7289da;
  }

  .discord p{
    color: #000;
  }
  
  .title-community .first{
    color:#08111f;
}
  
.project{
  color: #000;

  text-align: center;

  display: flex;
  justify-content: center;

  flex-direction: column;
}