.project{
    color: #000;
  
    text-align: center;
  
    display: flex;
    justify-content: center;
  
    flex-direction: column;
  }
  
  .project .main-project-text{
    padding: 0 200px;
    margin: 0;
  }

  .project h1{
    color: #7289da;
  }
  
  @media screen and (max-width: 1000px) {
    .project .main-project-text {
      padding: 0 0;
    }
  
    .gamemaker-image{
      width: 23rem;
    }
  }
  
  .google-form{
    width: 50rem;
    height: 65rem;
  }
  
  @media screen and (max-width: 1000px) {
    .google-form{
      width: 30rem;
      height: 65rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    .google-form{
      width: 100%;
      height: 75rem;
    }
  }

  .project{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
  }
  
  .project .card-container {
    width: 30rem;
  }

  @media screen and (max-width: 1000px) {
    
    .project{
      grid-template-columns: repeat(1,1fr);
    }
  
    .project footer {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 550px) {
    .project .card-container{
        width: 20rem;
      }

      .project-image{
        width: 23rem;
      }

      .img-discord-represent{
        width: 20rem;
      }
  }
  
  .project input {
    width: 100%;
    background-color: var(--bg-card);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    padding: 0.8rem;
    color: var(--text-color);
    font-size: 1rem;
  }
  
  .project header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--blue);
    height: 5rem;
    font-size: 2.5rem;
    gap: 1rem;
  }
  
  .project button {
    background-color: var(--blue);
    border: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .project a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .project .card {
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .project .banner {
    background-color: #FAA61A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    border-radius: 12px 12px 0 0;
  }
  
  .project .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 1rem;
  }
  
  .project .profile-picture img {
    position: absolute;
    top: 15px;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 5px solid var(--bg);
  }
  
  .project .badge {
    display: flex;
    background-color: var(--bg-card-info);
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .project .badge-default {
    display: flex;
    gap: 1rem;
  }
  
  .project .badge img {
    width: 2rem;
    height: 2rem;
  }
  
  .project .info-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--bg-card-info);
    padding: 1.3rem;
    padding-bottom: 0rem;
    margin: 1rem 1rem;
    border-radius: 8px;
    text-align: left;
    margin-top: 2.5rem;
    margin-bottom: 1;
  }

  .project .info-container h5 {
    color: white;
    margin-bottom: 0;
  }

  .project .info-container p {
    color: white;
    margin-top: 0;
  }
  
  .project .info {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .project i {
    font-weight: 700;
  }
  
  .project #id {
    color: var(--blue);
  }
  
  .project #user {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--pink);
  }
  
  .project #account {
    color: var(--green);
  }
  
  .project .info-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
  }
  
  .project button i {
    font-size: 1rem;
  }
  
  .project button:hover {
    background-color: hsl(235, 86%, 65%, 0.8);
  }
  
  .project footer {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .project .card {
      width: 100%;
    }
  
    .project footer {
      margin-top: 2rem;
    }
  }

  .project .button {
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para o botão "Entrar no Servidor" */
  .project .discord-button {
    background-color: #7289DA;
  }
  
  /* Estilo quando o cursor passa sobre o botão */
  .project .button:hover {
    background-color: #677BC4;
  }
  
  /* Estilo quando o botão é clicado */
  .project .button:active {
    background-color: #4E6AA7;
  }

  .project h1{
    color: #7289da;
  }

  .project p{
    color: #000;
  }
  
  .title-community .first{
    color:#08111f;
}

  .project .bot-icone-div {
    display: flex;
    align-items: center;

  }

  .project .bot-icone-div .bot-icone-fonte{
    margin-left: 5px;
    background-color: #5865F2;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 3px;
  }