*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    min-width: 380px;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #08111f;
  color: white;
  padding: 1px;
  border: solid;
  box-shadow: 0 0 20px #08111f;
  border-radius: 50%;
  cursor: pointer;
}

.typing-effect {
    font-family: monospace;
    font-size: 24px;
  }
  
  .cursor {
    border-right: 3px solid #333; /* Linha vertical simulando o cursor */
    animation: blink-caret 0.5s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
  }

  .fade-in {
    opacity: 0;
  }
  
  .fade-in.appear {
    opacity: 1;
    animation: fadeInAnimation 1s ease-out;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.col{
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
  }

  @media screen and (max-width: 992px) {

    .container{
        margin-top: 0px;

        grid-template-columns: repeat(1,1fr);
    }
  }
  
  .social-midias{
    margin-bottom: 100px;
  }


footer {
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
  }




